@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font: 62.5% / 1.5 'Arial', 'sans-serif';
  color: rgb(48, 47, 47);
}
.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(48, 47, 47);
}
nav a {
  text-transform: uppercase;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
}
h2 {
  font-size: 2rem;
  margin: 0;
}
h4 {
  font-size: 1rem;
}
span {
  font-size: 1rem;
}
p {
  font-size: 1.5rem;
}
.btn {
  background-color: black;
  color: white;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  width: 200px;
}
.btn:hover {
	background-color:#ffcc00;
  color:#000000;
}

.boxes * {
  color: #000;
  font-size: 1rem;
  margin: 5%;
  padding: 30% auto;
  text-align: center;
}
.boxes p{
  padding-left: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
.container {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}
header {
	grid-area: 1 / 1 / 2 / 4;
}
main {
	grid-area: 2 / 1 / 3 / 4;
}
#aboutUs {
	grid-area: 3 / 1 / 4 / 4;
}
#services {
	grid-area: 4 / 1 / 5 / 4;
}
#lookbook {
	grid-area: 5 / 1 / 6 / 4;
}
#contact {
	grid-area: 6 / 1 / 7 / 4;
}
footer {
	grid-area: 7 / 1 / 8 / 4;
}
section {
  margin: 1vh 10vh;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 2rem auto 1rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-areas:
            "h1 hero hero"
            "p  hero hero"
            "btn hero hero";
 
  align-items: center;
  color: black;
  margin-bottom: 5%;
  height: 60vh;
  margin-left: 7%;
}

h1.mainSection {
  grid-area: h1;
  flex-direction: column;
  justify-content: stretch;
  margin-top: 2rem;
}
p.mainSection {
  grid-area: p;
}
div.mainSection {
  grid-area: btn;
}
.hero {
  grid-area: hero;
  width: 100%;
} 

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 0 5rem;
}
.boxes {
  text-align: center;
  padding: 0 1%;
  width: 33%;
}
.servicesContainer>h2 {
  width: 100%;
}
.servicesContainer > i {
  text-align: center;
}

#aboutUs{
  background: url("/assets/grooming.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 5%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  width: 100%;
}
form {
  width: 500px;
  margin: auto;
}
.formStyle { 
  background-color:#f6e293;
  padding: 10px; 
  width: 400px; 
  margin-bottom: 20px; 
  border-bottom: 3px solid #ffcc00;
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 1rem;
}
input:focus {
  outline: none;
}


footer {
  background: black;
  color: white;
  padding: 5% 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  font-size: 1rem;
}
footer .logo{
  font-size: 2rem;
  margin-bottom: 5%;
} 

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Responsive layout - makes the gallery two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.discountBanner {
  text-align: center;
  padding: 0.5%;
  margin-top: 1%;
  background-color: #ffcc00;
  font-size: 1rem;
  /* color: white; */
}
.discountBanner p {
  margin: 0;
}
#backTop {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 5%;
  z-index: 99;
  font-size: 2rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}