@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font: 62.5% / 1.5 'Arial', 'sans-serif';
  color: rgb(48, 47, 47);
}
.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(48, 47, 47);
}
nav a {
  text-transform: uppercase;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}
a.btn {
  background-color: black;
  color: white;
  padding: 4% 6%;
  font-size: 1rem;
  width: 30%;
}

.boxes p, .boxes h3, .boxes i {
  color: #000;
  font-size: 1rem;
  margin: 5%;
  padding: 30% auto;
  text-align: center;
}
.boxes p{
  padding-left: 0;
}
/******************************************
/* LAYOUT
/*******************************************/
header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 2rem auto;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  margin-bottom: 5%;
  height: 70vh;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-top: 4%;
}
.hero {
  width: 100%;
} 
.container {
  margin: 0 10%;
}
/* .sectionHeight {
  height: 90vh; 
}*/

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 0 2rem 5rem;
}
.boxes {
  text-align: center;
  padding: 0 1%;
}
.servicesContainer > i {
  text-align: center;
}

#aboutUs{
  background: url("/assets/grooming.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 5%;
}
#lookbook{
  margin: 2% 0;
  padding: 2.5% 5%; 
  /* background-color: lightgrey; */
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.gallery img {
  width: 33.33%;
  /* padding: 1%; */
}
footer {
  background: black;
  color: white;
  padding: 5% 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  font-size: 1rem;
}
footer .logo{
  font-size: 2rem;
  margin-bottom: 5%;
  
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.discountBanner {
  text-align: center;
  padding: 0.5%;
  margin-top: 1%;
  background-color: #ffcc00;
  font-size: 1rem;
  /* color: white; */
}
.discountBanner p {
  margin: 0;
}
#backTop {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 10%;
  z-index: 99;
  font-size: 3rem;
  border: 1px solid black;
  border-radius: 100px;
  padding: 1%;
  background: white;
}